@media screen and (min-width: 769px) {

body{
    width: 100vw;
    margin: 0%;
    padding: 0%;
}
.container{
    width:50%;
    height: 370px;
    background-color: #FBFCFC;
    border-radius: 25px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.input_write{
    width: 80%;
    margin-left: 10%;
    height: 25px;
    margin-top: 11px;
    border: none;
    background-color: #F8F8F8;
}
.result{
    width: 80%;
    margin-left: 10%;
    height: 25px;
    margin-top: 11px;
    border: none;
    background-color: #FBFCFC;
    display: block;
}
.btn_rotat{
    width: 25px;
    height: 25px;
    padding: 0%;
    border-radius: 50%;
    border-color: #ffffff00;
    float: right;
    margin-right:10%;
    margin-top: 10px;
}
.btn_rotat img{
    width: 100%;
    height: 100%;
}
hr{
    width: 90%;
    border: solid 1px #D4D4D4;
}
.calculator{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.Calculator_Scientific{
    width: 45%;
    height: 250px;
    margin: 0%;
}
.Calculator_Scientific div .btn{
    width: 30%;
    height: 25px;
    margin-left: 18px;
    border: solid 1px #F0F3F4;
    border-radius: 25px;
    background-color: #F0F3F4;
    text-align: center;
    padding-top: 8px;
}
.Calculator_simple{
    width: 55%;
    height: 250px;
}
.Calculator_simple div .btn{
    width: 22%;
    height: 25px;
    margin-left: 18px;
    border: solid 1px #F0F3F4;
    border-radius: 25px;
    background-color: #F0F3F4;
    text-align: center;
    padding-top: 8px;
}

.btn_comma{
    width: 50%;
    text-align: center;
    background-color: #F0F3F4;
    border-radius: 25px;

}
.btn_point{
    width: 50%;
    text-align: center;
    background-color: #F0F3F4;
    padding-top: 8px;
    border-radius: 25px;
}
.div1{
    display: flex;
    margin-top: 10px;
}

.btn_C{
    width: 50%;
    text-align: center;
    border-radius: 0% 55% 55% 0%;
    background-color: #F0F3F4;
    padding-top: 8px;
}

.btn_C:hover{
    background-color: #c0c2c2;
}

.btn_switch{
    width: 50%;
    text-align: center;
    border-radius: 55% 0% 0% 55%;
    background-color: #F0F3F4;
    padding-top: 8px;
}

.btn_switch img{
    width: 15px;
    margin-top: 5px;
    display: block;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
}

.btn_exp_x img{
    width: 30%;
    height: 20px;
}
.btn_power img{
    width: 30%;
    height: 20px;
}
.btn_sup_input_write{
    color: red;
    display: inline-flex;
    width: 22%;
    margin-left: 18px;
}
.btn_percentage,.btn_division,.btn_multi,.btn_soustraction,.btn_addition{
    color:#038D00;
}

.btn_parenthesis{
    color:#038D00;
    width: 50%;
    text-align: center;
    border-radius: 55% 0% 0% 55%;
    background-color: #F0F3F4;
    padding-top: 8px;
}

.btn_parenthesis:hover{
    background-color: #c0c2c2;
}

.btn_parenthesis2{
    color:#038D00;
    width: 50%;
    text-align: center;
    border-radius: 0% 55% 55% 0%;
    background-color: #F0F3F4;
    padding-top: 8px;
}

.btn_parenthesis2:hover{
    background-color: #c0c2c2;
}

.btn_equal{
    color: #ffffff;
    background-color: #038D00 !important;
}
.Calculator_simple .div1 .btn:hover , .Calculator_Scientific .div1 .btn:hover {
    background-color: #c0c2c2;
}
.Calculator_simple .div1 .btn_point:hover , .Calculator_simple .div1 .btn_comma_comma:hover {
    background-color: #c0c2c2;
}
.btn_equal:hover {
    background-color: #015200 !important;
}

.btn_switch:hover{
    background-color: #c0c2c2;
}
.Calculator_simple .btn_equal:hover{
    background-color: #c0c2c2;
    font-size: 0.9em;
}

}
