@media screen and (min-width: 568px) and (max-width: 768px) {
    body{
        width: 100vw;
        margin: 0%;
        padding: 0%;
    }
    .container{
        width: 70%;
        background-color: #FBFCFC;
        border-radius: 25px;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .input_write{
        width: 80%;
        margin-left: 10%;
        height: 25px;
        margin-top: 11px;
        border: none;
        background-color: #F8F8F8;
    }
    .result{
        width: 80%;
        margin-left: 10%;
        height: 25px;
        margin-top: 11px;
        border: none;
        background-color: #FBFCFC;
        display: block;
    }
    .btn_rotat{
        display: none;
    }

    .btn{
        font-size: 15px;
    }

    hr{
        width: 90%;
        border: solid 1px #D4D4D4;
    }
    .calculator{
        width: 100%;
        display: inline-flex;

    }
    .Calculator_Scientific{
        width: 50%;
        height: 250px;
        margin: 0%;
    }
    .Calculator_Scientific div div{
        width: 100%;
        height: 25px;
        border: solid 1px #F0F3F4;
        border-radius: 25px;
        background-color: #F0F3F4;
        text-align: center;
        padding-top: 8px;
    }
    .Calculator_simple{
        width: 50% !important;
        height: 250px;
        margin-left: 12px;
    }
    .Calculator_simple div div{
        width: 100%;
        height: 25px;
        border: solid 1px #F0F3F4;
        border-radius: 25px;
        background-color: #F0F3F4;
        text-align: center;
    }
    .div1{
        width: 100%;
        display: flex;
        margin-top: 10px;
    }

    .btn_comma{
        width: 50%;
        text-align: center;
        background-color: #F0F3F4;
        border-radius: 25px;
        padding-top: 8px;
    }
    .btn_point{
        width: 50%;
        text-align: center;
        background-color: #F0F3F4;
        border-radius: 25px;
        padding-top: 8px;
    }

    .btn_C{
        margin-top: 8px;
        text-align: center;
        border-radius: 0% 55% 55% 0%;
        background-color: #F0F3F4;
    }

    .btn_switch{
        width: 50%;
        text-align: center;
        border-radius: 55% 0% 0% 55%;
        background-color: #F0F3F4;
        padding-top: 8px;
    }

    .btn_switch img{
        width: 15px;
        margin-top: 5px;
        display: block;
        height: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .btn_exp_x img{
        width: 30%;
        height: 20px;
    }
    .btn_power img{
        width: 30%;
        height: 20px;
    }
    .btn_sup_input_write{
        color: red;
        display: inline-flex;
        width: 22%;
    }
    .btn_percentage,.btn_division,.btn_multi,.btn_soustraction,.btn_addition{
        color:#038D00;    
        padding-top: 8px;
    }

    .btn_parenthesis{
        color:#038D00;
        width: 50%;
        text-align: center;
        border-radius: 55% 0% 0% 55%;
        background-color: #F0F3F4;
        padding-top: 8px;
    }
    
    .btn_parenthesis:hover{
        background-color: #c0c2c2;
    }
    
    .btn_parenthesis2{
        color:#038D00;
        width: 50%;
        text-align: center;
        border-radius: 0% 55% 55% 0%;
        background-color: #F0F3F4;
        padding-top: 8px;
    }
    
    .btn_parenthesis2:hover{
        background-color: #c0c2c2;
    }

    .btn_0, .btn_1, .btn_2, .btn_3, .btn_4, .btn_5, .btn_6, .btn_7, .btn_8, .btn_9, .btn_moreless{
        padding-top: 8px;
    }

    .btn_equal{
        color: #ffffff;
        background-color: #038D00 !important;
        padding-top: 8px;
    }
    .Calculator_simple .div1 div:hover , .Calculator_Scientific .div1 div:hover {
        background-color: #c0c2c2;
    }
    .btn_equal:hover {
        background-color: #015200 !important;
    }
    .Calculator_simple .btn_equal:hover{
        background-color: #c0c2c2;
        font-size: 0.9em;
    }
}